/*

    Sellix.me
    ------------
    Version 0.2.24

*/

:root{
    --background: #14121B;
    --backgroundSecondary: #13111A;
    --elements: #181621;
    --primary: #CF9816;
    --text-light: #FFFFFF;
    --text-secondary: #5E5B6A;
}