/*

    Sellix.me
    ------------
    Version 0.2.24

*/

.shop{
    padding: 70px 0 80px;
}

.shop_title{
    font-size: 26px;
    font-weight: 600;
    color: var(--primary);
}

.shop_description{
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 15px;
    width: 80%;
    margin-bottom: 40px;
}

.shop__categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    padding-top: 18px;
    margin-bottom: 30px;
}

.shop_subtitle{
    font-size: 15px;
    color: var(--text-light);
}

.shop__search{
    position: relative;
    margin-bottom: 35px;
    margin-top: 17px;
}

.shop__search input{
    width: 100%;
    height: 65px;
    border: none!important;
    box-shadow: none!important;
    outline: none!important;
    padding-left: 70px;
    background: var(--elements);
    color: var(--text-light);
}

.shop__search img{
    position: absolute;
    left: 20px;
    top: 20px;
}

.shop__category{
    background-color: var(--elements);
    color: var(--text-secondary);
    font-weight: 400!important;
    padding: 20px 60px;
    cursor: pointer;
}

.shop__categories .active, .shop__category:hover{
    color: var(--primary);
}

.shop__category:nth-child(1){
    margin-left: 0px;
}

.shop__cards{
    margin-top: 20px;
}

.shop__card{
    background-color: var(--elements);
    padding: 22px;
    margin-bottom: 22px;
}

.shop__card__img_small{
    max-width: 91px;
    max-height: 91;
}

.shop__card__title{
    color: var(--primary);
    margin-top: 30px;
    font-size: 21px;
}

.shop__card__description{
    color: var(--text-secondary);
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}

.shop__card__price{
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-secondary);
}

.shop__card__price span{
    margin-left: 2px;
    color: var(--text-light);
    font-weight: 500;
    font-size: 18px;
}

.shop__card__purchase{
    margin-top: 20px;
    background-color: var(--background);
    width: 100%;
    color: var(--primary);
    font-weight: 500;
    font-size: 15px;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    transition: .3s;
}

.shop__card__purchase:hover{
    opacity: 0.7;
    transition: .3s;
}

.shop__card__second{
    background-color: var(--elements);
    margin-bottom: 22px;
}

.shop__card__img_full{
    width: 100%;
}

.shop__card__second_content{
    padding: 22px;
    padding-top: 0;
}

@media only screen and (max-width: 768px) {
    .shop_description{
        width: 100%;
    }

    .shop{
        margin-top: 30px;
    }
}